.fotoSobreMim {
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  width: 40vw;
  float: right;
}

.subtitulo {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.paragrafo {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

.experiencia,
.formacao {
  margin-bottom: 2rem;
}

.experienciaContainer,
.formacaoContainer {
  margin-bottom: 1.5rem;
}

.experienciaSubtitulo,
.formacaoSubtitulo {
  font-size: 2.5rem;
}

.empresa,
.faculdade {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.empresa:hover,
.faculdade:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.empresaAno,
.faculdadeTipo {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.empresaTitulo,
.faculdadeCurso {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.empresaTexto,
.formacaoTexto {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

.empresaHabilidades,
.faculdadeLista {
  list-style-type: none;
  padding: 0;
}

.empresaHabilidades {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.empresaHabilidades li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 1100px) {
  .experiencia,
  .empresa,
  .faculdade {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  .formacao {
    margin-bottom: 2rem;
  }

  .empresa,
  .faculdade {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1100px) {
  .fotoSobreMim {
    float: none;
    display: block;
    margin: 0 auto 2rem;
    width: 70vw;
  }

  .paragrafo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 744px) {
  .fotoSobreMim {
    width: 100%;
  }

  .subtitulo {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .paragrafo {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
