* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cinza-claro: #cccccc;
  --cinza-medio: #8f8f8f;
  --cinza-escuro: #525252;
  /* Azul */
  --azul-claro: #a0d2eb;
  --azul-medio: #3b82f6;
  --azul-escuro: #243c68;
  /* Laranja*/
  --laranja: #ffa500;
  --laranja-escuro: #ff6700;
  /* Amarelo */
  --amarelo: #ffdd00;
  --amarelo-mostarda: #f7c600;
  /* verde */
  --verde: #28a745;
  --verde-claro: #20c997;
  /* Preto e Branco */
  --branco: #ffffff;
  --black: #141414;
  /* Cor fonte */
  --cor-fonte-principal: #243c68;
  --cor-fonte-post: #4a4a4a;
  /* Fontes */
  --fonte-principal: "Cascadia Code", monospace;
  --fonte-secundaria: "Raleway", sans-serif;
}

body {
  font-family: var(--fonte-principal);
}

#root {
  display: grid;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 5rem;
}
